            <!-- Begin Page Content -->
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Clientes Cadastrados</h6>
                                <a href="/clientes/create" class=" mr-2">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body" width="100%">
                                <div class="table" >
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"  >
                                        <thead >
                                            <tr>
                                                <th class="bg-gray-400 text-gray-900">Nome</th>
                                                <th class="bg-gray-400 text-gray-900">Referência</th>
                                                <th class="bg-gray-400 text-gray-900">Endereço</th>
                                                <th class="bg-gray-400 text-gray-900">Felefone</th>
                                                <th class="bg-gray-400 text-gray-900">Limite</th>
                                                <th class="bg-gray-400 text-gray-900">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {loop="$users"}<tr class="bg-gray-100">
                                                <td class="text-gray-900 upper">{$value.nomeCliente}</td>
                                                <td class="text-gray-900 upper">{$value.apelidoCliente}</td>
                                                <td class="text-gray-900 upper">{$value.enderecoCliente}</td>
                                                <td class="text-gray-900 upper">{$value.telefoneCliente}</td>
                                                <td class="text-gray-900 upper">R$ {$value.limiteCliente}</td>
                                                <td style="text-align: center;">
                                                    <a href="clientes/{$value.idCliente}" >
                                                        <i class="fas fa-align-justify"></i>
                                                    </a>
                                                    <!-- <a href="clientes/{$value.idCliente}/delete">
                                                        <i class="fas fa-trash "></i>
                                                    </a> -->
                                                </td>
                                            </tr>
                                        {/loop}</tbody>
                                    </table>
                                    <a href="/" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span class="text">Cancelar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        <!-- End Page Content -->
        <script>
            
            {$mensagem}

        </script>


        