            <!-- Begin Page Content -->
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">  
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary upper">{$cliente.nomeCliente} | {$cliente.apelidoCliente} </h6>
                                <a href="/clientes/novacompra/{$cliente.idCliente}" class=" mr-2">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </div>
                            
                            <!-- Card Body -->
                            <div class="card-body" width="100%">
                                <!-- {if="$compras"}
                                <a href="/clientes/imprimir/{$cliente.idCliente}" target="_blank" class="btn btn-info mb-3 btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-print"></i>
                                    </span>
                                    <span class="text">Imprimir</span>
                                </a>
                                {/if} -->
                                <div class="table table-sm" >
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"  >
                                        <thead >
                                            <tr >
                                                <th style="width: 5%;" class="bg-gray-400 text-gray-900">#</th>
                                                <th class="bg-gray-400 text-gray-900">Data</th>
                                                <th style="width: 60%;" class="bg-gray-400 text-gray-900">Descrição</th>
                                                <th class="bg-gray-400 text-gray-900">Valor</th>
                                                <th class="bg-gray-400 text-gray-900">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {loop="$compras"}<tr class="bg-gray-100">
                                                <td><input type="checkbox" name="{$value.idCompra}" value="{$value.idCompra}"></td>
                                                <td class="text-gray-900">{$value.dataCompra}</td>
                                                <td class="text-gray-900 upper">{$value.descricaoCompra}</td>
                                                <td class="text-gray-900"> R$ {$value.totalCompra}</td>
                                                <td class="text-gray-900"style="width: 75px; text-align: center;">
                                                    <a style="text-decoration: none;" href="/compras/{$value.idCompra}">
                                                        <i class="fas fa-align-justify mr-2"></i>
                                                    </a>
                                                    <span style="color: red; cursor: pointer;" id="{$value.idCompra}">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            {/loop}
                                            {if="$compras"}
                                        <tfoot>
                                            <tr>
                                                <td class="text-gray-900"><b>TOTAL:</b></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-gray-900"><b>R$ {$totalMostra}</b> </td>
                                                <td>
                                                    <a id="delete" style="color: red; cursor: pointer;">
                                                        <i class="fas fa-trash ml-4" ></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {/if}
                                        </tfoot>
                                        </tbody>
                                    </table>
                                    <a href="/" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span class="text">Cancelar</span>
                                    </a>
                                    {if="$compras"}
                                    <button id="pagamento"class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-dollar-sign"></i>
                                        </span>
                                        <span class="text">Pagamento</span>
                                    </button>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
        <!-- End Page Content -->
        <script>
            
            {$mensagem} 

            function myFunction() {
                if(checked && checkboxs.length>0){
                    alertify.confirm('labels changed!').set('labels', {ok:'deletar', cancel:'Cancelar'});
                    alertify.confirm('Deletar compras', 'Deseja deletar os selecionados?', function(){ window.location.href="{$cliente.idCliente}/deleteall"}
                , function(){});
                }else{
                    alertify.confirm('labels changed!').set('labels', {ok:'deletar', cancel:'Cancelar'});
                    alertify.confirm('Deletar compras', 'Deseja deletar TODAS as compras?', function(){ window.location.href="{$cliente.idCliente}/deleteall"}
                , function(){});
                } 
            }
            function telaPagamento(){
              
                var zero = 0;
                var min = 1;
                var max = {$totalJanela};

                const money = {$totalJanela};

                const currency = function(number){
                    return new Intl.NumberFormat('de-DE', { minimumFractionDigits: 2}).format(number);
                };

                maxMoney = currency(money);

                alertify.prompt('labels changed!').set('labels', {ok:'realizar', cancel:'Cancelar'});
                alertify.prompt('Closable: false').set('closable', false); 

                alertify.prompt( 'Operação em débito', 'Total em débito : '+maxMoney+ '', max,
                function(evt, value) {
                    { 
                        if (value < min) {
                        alertify.error('Número baixo, entre com um número acima de ' + zero)
                        setTimeout(telaPagamento, 1);
                        } else if (value > max) {
                            alertify.error('Número alto para  valor do débito ' + maxMoney)
                            setTimeout(telaPagamento, 1);
                        } else { 
                            
                            var novaQtd = (max - value);
                            var valor = (Math.round(novaQtd, -1));
                            window.location.href="/clientes/listadecompras/{$idCliente}?valorRetirado="+value+"&restante="+valor
                        }
                        
                    }

                },function() {}).setting({type: 'text'});
                
            }  

            // document.getElementById("delete").addEventListener("click", myFunction);

            document.getElementById("pagamento").addEventListener("click", telaPagamento);
            
            var checkboxs = [];

            var checked = false;

            var td = document.querySelectorAll('td span');
            
            var checkebox = document.querySelectorAll('td input');      

            td.forEach((el) => {
                el.addEventListener('click', meuID);
            });

            checkebox.forEach((el) => {
                el.addEventListener('click', meuCkecked);
            });

            function meuID(e) {
                var id = e.currentTarget.id;
                alertify.confirm('labels changed!').set('labels', {ok:'deletar', cancel:'Cancelar'});
                alertify.confirm('Deletar compra','Deseja deletar esta compra?', function(){ window.location.href="/clientes/listadecompras/"+id+"/delete"}
                , function(){});  
            }
            function meuCkecked(e) {
                var id = e.currentTarget.name;
                var elemento = checkboxs.indexOf(id);

                if(elemento <0){
                    checkboxs.push(id);
                }else{
                    checkboxs.splice(checkboxs.indexOf(id), 1);
                }
                checked = true;
                console.log(checkboxs);

            }
            
            
        </script>  

